a{
  text-decoration: none;
  color: black;
}
.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}


.bg-cont {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aeaeae;
}

.nav-bar {
  background-color: #aeaeae;
}
.nav-bar nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px 0px 30px;
  justify-content: space-between;
}

.nav-bar nav .navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar nav .navigation {
  width: 50%;
}

.nav-bar nav .logo {
  width: 60px;
}

.nav-bar nav .navigation ul li {
  list-style: none;
  cursor: pointer;
}

/* login */
.nav-bar nav .login .user {
  padding: 0px 12px 0px 12px;
  border-radius: 20px;
  height: 40px;
  background: #5F5B5A0F;
}

.nav-bar nav .login .user .login-user {
  width: 18px;
}

.nav-bar nav .login .user .wallet {
  border-right: 1px solid;
  padding-right: 10px;
  height: 100%;
}

.nav-bar nav .login .user,
.nav-bar nav .login .user .wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.nav-bar nav .login .user .wallet .wallet-icon {
  width: 18px;
  height: 19px;
  padding-right: 4px;
}

.login-user {
  padding: 0px 5px 0px 7px;
}

.login-user img {
  width: 20px;
}

/* content */

.content {
  display: flex;
  height: 100%;
}

.left-section {
  flex: 1;
  padding: 20px;
  /* background-color: #f0f0f0; */
}

.right-section {
  flex: 2;
  padding: 20px;
  /* background-color: #ffffff; */
}

.menu-container {
  font-family: Arial, sans-serif;
}

.menu {
  background: #0081DE30;
  color: #2D405A;
  padding: 10px;
  cursor: pointer;
  width: 130px;
  height: 20px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

}

.left-section .menu-container .menu .blockIcon img {
  width: 20px;
}

.left-section .menu-container .menu .blockChain {
  display: flex;
  align-items: center;
  padding: 0px 12px 0px 6px;
}

.left-section .menu-container .menu p {
  font-size: 16px;
}

.left-section .menu-container .menu .blockIcon,
.left-section .menu-container .menu .tokenIcon,
.left-section .menu-container .menu .creatorTokenIcon,
.left-section .menu-container .menu .faqIcon{
  rotate: 0deg;
  width: 20px;
  transition: 0.5s;
}

.left-section .menu-container .menu .blockIcon.open,
.left-section .menu-container .menu .tokenIcon.open,
.left-section .menu-container .menu .creatorTokenIcon.open,
.left-section .menu-container .menu .faqIcon.open{
  rotate: 90deg;
}

.menu-items.blockChainMenu,
.menu-items.tokenMenu,
.menu-items.creatorTokenMenu,
 .menu-items.faqMenu{
  list-style-type: none;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.menu-items.tokenMenu.open,
.menu-items.blockChainMenu.open,
.menu-items.creatorTokenMenu.open,
 .menu-items.faqMenu.open{
  height: 220px;
  transition: 0.5s;
}

.menu-items li {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
  /* border-bottom: 1px solid #ccc; */
}

.menu-items li:last-child {
  border-bottom: none;
}